#startPage {    
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flexbox;
    margin-top: 20%;
    font-size: 25px;
}

.table {
    background-color: green;
    height: 500px;
    width: 80%;
    border-radius: 50%;
    margin: 0 auto;
    border: 1em solid black;
  }

body {
    background-color: #239B56;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#dealer-sum {
    height: 100px;
    width: 75px;
    margin: 1px;
    color: yellow;
}

#your-sum {
    height: 100px;
    width: 75px;
    margin: 1px;
    color: yellow;
}

#results {
    font-size: 30px;
    color: red;
}

#startButton {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#Hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#Stand {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#Shuffle     {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

.buttons {
    position: relative;
    font-size: 18px;
    margin: 0px 10px 0px 10px;
    align-items: center;
    top:50%;
    background-color: beige;
}